body {
    background-color: #8C8A7E;
    color: #5F4B32;
}

.well {
    background-color: #F1EEE1;
    overflow: auto;
}

.center {
    text-align: center;
}

pre {
    background-color: #F1EEE1;
}

.header {
    color: #F1EEE1;
}

.header a {
    color: #F1EEE1;
    text-decoration: underline;
}

a {
    color: #8C8A7E;
}

.nav-tabs {
    border-bottom: 0px;   
}

.nav-tabs>li {
    margin-bottom: -2px;
}

.nav-tabs>li>a {
    border: 2px solid #8C8A7E;
    background-color: #fff;
}

.nav-tabs>li.active>a {
    border: 2px solid #8C8A7E;
    border-bottom: 0;
    background-color: #F1EEE1;
}

.nav-tabs>li>a:hover {
    border: 2px solid #8C8A7E;
}

.nav-tabs>li.active>a:hover {
    border: 2px solid #8C8A7E;
    border-bottom: 0;
    background-color: #F1EEE1;
}

.nav-tabs>li.active>a:focus {
    border: 2px solid #8C8A7E;
    border-bottom: 0;
    background-color: #F1EEE1;
}

.irs-bar {
    background: #8C8A7E;
    border-top: 1px solid #8C8A7E;
    border-bottom: 1px solid #8C8A7E;
}

.irs-from, .irs-to, .irs-single {
    background: #8C8A7E;   
}

.irs-bar-edge {
    background: #8C8A7E;
    border: 1px solid #8C8A7E;
}

.center-table {
    margin:1em auto;   
}

.center-table td {
    padding-left: 5px;
}

th, td {
    vertical-align: bottom;
}

.MathJax{
    font-size: 2em !important;
}

input {
    text-transform: uppercase; 
}

.shiny-output-error-validation {
    color: red;   
}

